@tailwind base;
@tailwind components;
@tailwind utilities;

.Box{
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1), -15px -15px 20px #fffb;
    border-radius: 20px;
}
.box-input{
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 10px #fff;
}